@font-face {
    font-family: 'Visuelt Pro';
    src: url('VisueltPro-Medium.eot');
    src: local('VisueltPro-Medium'),
        url('VisueltPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('VisueltPro-Medium.woff2') format('woff2'),
        url('VisueltPro-Medium.woff') format('woff'),
        url('VisueltPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Visuelt Pro';
    src: url('VisueltPro-Regular.eot');
    src: local('VisueltPro-Regular'),
        url('VisueltPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('VisueltPro-Regular.woff2') format('woff2'),
        url('VisueltPro-Regular.woff') format('woff'),
        url('VisueltPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}