@import "../fonts/stylesheet.css";
.container {
  width: 90%;
  max-width: 1920px;
  margin: auto;
}

.advantages {
  margin-bottom: 100px;
}
.advantages__title {
  font-family: "Visuelt Pro", "sans serif";
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: #1A1A1A;
  margin: 10% auto 5% 16px;
}
.advantages__box {
  display: flex;
  justify-content: space-between;
}
.advantages__box .box__item {
  width: 30.8333333333%;
}
.advantages__box .box__item .box__header {
  height: 70px;
  display: flex;
  align-items: center;
}
.advantages__box .box__item .box__header .box__title {
  font-family: "Visuelt Pro", "sans serif";
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #1A1A1A;
  margin-left: 7px;
}
.advantages__box .box__item .box__description {
  font-family: "Visuelt Pro", "sans serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #808080;
  padding-top: 20px;
}

@media screen and (max-width: 1023px) and (min-width: 680px) {
  .container {
    max-width: 1023px;
  }
  .advantages__title {
    margin: 10% auto 2% 16px;
  }
  .advantages__box {
    flex-direction: column;
  }
  .advantages__box .box__item {
    padding-top: 40px;
    width: 100%;
  }
}
@media screen and (max-width: 679px) {
  .container {
    max-width: 679px;
  }
  .advantages__title {
    font-size: 26px;
    line-height: 32px;
    margin: 10% auto 2% 4px;
  }
  .advantages__box {
    flex-direction: column;
  }
  .advantages__box .box__item {
    padding-top: 25px;
    width: 100%;
  }
  .advantages__box .box__item .box__header {
    height: 45px;
  }
  .advantages__box .box__item .box__header .box__title {
    font-size: 18px;
    line-height: 22px;
  }
  .advantages__box .box__item .box__description {
    font-size: 14px;
    line-height: 19px;
  }
}
.sale {
  display: flex;
  align-items: center;
}
.sale__title {
  font-family: "Visuelt Pro", "sans serif";
  font-weight: 500;
  font-size: 56px;
  line-height: 70px;
  color: #1A1A1A;
  margin-top: 0;
  margin-bottom: 40px;
}
.sale__form {
  width: 100%;
  height: 64px;
  background: #F2F2F2;
  border-radius: 16px;
  display: flex;
  align-items: center;
}
.sale__form .sale__input {
  font-family: "Visuelt Pro", "sans serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #808080;
  width: 70%;
  height: 64px;
  border: none;
  outline: none;
  background: #F2F2F2;
}
.sale__form .sale__button {
  background: #4754EB;
  border-radius: 16px;
  font-family: "Visuelt Pro", "sans serif";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  width: 143px;
  height: 48px;
  border: none;
  cursor: pointer;
}
.sale__agreement {
  font-family: "Visuelt Pro", "sans serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #808080;
  font-size: 12px;
}
.sale__agreement .sale__personaldata {
  text-decoration: none;
}

@media screen and (max-width: 1211px) and (min-width: 680px) {
  .sale {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .sale .sale__input {
    width: 50%;
  }
}
@media screen and (max-width: 679px) {
  .sale {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .sale__title {
    font-size: 36px;
    line-height: 45px;
  }
  .sale .sale__image {
    max-width: 100%;
  }
  .sale .sale__input {
    font-size: 14px;
    line-height: 19px;
    width: 70%;
    height: 56px;
  }
  .sale .sale__button {
    background: #4754EB;
    border-radius: 16px;
    font-family: "Visuelt Pro", "sans serif";
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    width: 100px;
    font-size: 12px;
  }
  .sale__agreement {
    font-size: 14px;
    line-height: 19px;
  }
}/*# sourceMappingURL=main.css.map */